$tablet: 1030px;
$mobile: 440px;

@font-face {
  font-family: "Avenir-Next";
  src: url("./assets/AvenirNextLTPro-Regular.otf");
}

  
.login-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    width: 1440px;
    height: 600px;
    font-family: "Avenir-Next";
    background-color: #fff;
    .left-section {
      font-family: "Avenir Next";
      flex: 1;
      flex-direction: column;
      
      
      .lendsqr-logo{
        // border: 1px solid;
        position: absolute;
        width: 138.44px;
        height: 36px;
        top: 70px;
        left: 60px;
        gap: 0px;
        opacity: 0px;
      }
      .illustration {
        // border: 1px solid;
        width: 600px;
        height: 337.57px;
        position: absolute;
        top: 181px;
        left: 10px;
        gap: 0px;
        opacity: 0px;

      }
    }
    
    .right-section {
      flex: 1; 
      width: 704px;
      background-color: #545F7D26;
      
  
      h1 {
        font-size: 40px;
        font-weight: 700;
        margin-top: 100px;
        margin-left: 60px;
        color: #213f7d;
        line-height: 54.64px;
        font-family: Avenir Next;
        line-height: 54.64px;
        letter-spacing: -0.04em;
        text-align: left;
        font-family: "Avenir Next";
      }
  
      p {
        font-size: 20px;
        font-weight: 400;
        line-height: 27.32px;
        text-align: left;
        font-family: "Avenir Next";
        color: #545F7D;
        margin-left: 60px;
      }
  
      .login-form {
        .input {
          display: flex;
          flex-direction: column;
          width: 447px;
          height: 50px;
          margin-top: 8px;
          margin-left: 60px;
          gap: 0px;
          font-family: "Avenir Next";
          border-radius: 5px;
          border: 2px solid #545F7D26;
          padding-left: 8px;
           outline: #ccc;
        }
  
        .password-container {
          position: relative;
          font-family: "Avenir Next";
          .show-button{
            position: absolute;
            width: 60px;
            top: 70%;
            left: 460px;
            background: none;
            border: none;
            z-index: 50;
            font-family: "Avenir Next";
          }
          .show-b{
            color: #39cdcc;
            cursor: pointer;
            font-size: 12px;
            font-weight: 600;
            text-decoration: none;
            outline: none;
            font-family: "Avenir Next"; 
          }
          
        }
  
        .forgot-password {
          width: auto;
          display: block;
          margin: 1rem 0;
          line-height: 16.39px;
          font-size: 12px;
          margin-left: 60px;
          text-decoration: none;
          color: #39cdcc;
          font-weight: 600;
          font-family: "Avenir Next";
          line-height: 16.39px;
          letter-spacing: 0.1em;
          text-align: left;
        }
  
        .login-button {
          background-color: #39CDCC;
          color: #fff;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          transition: 0.5s;
          width: 447px;
          height: 48px;
          gap: 0px;
          opacity: 0px;
          font-family: "Avenir Next";
          font-size: 14px;
          font-weight: 600;
          line-height: 19.12px;
          letter-spacing: 0.1em;
          text-align: center;
          margin-left: 60px;

          &:hover {
            background-color: #30b3b3;
          }
        }
        
        .login-button:focus {
          outline: 2px solid #39cdcc;
          outline-offset: 2px;
        }
        .input:focus{
          outline-offset: 1px;
          outline: 2px solid #545f7d;
        }

      }
    }
  }

@media (max-width: $tablet) {
  body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .login-container {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    justify-items: center;
    justify-self: center;
    justify-content: center;

    .left-section { 
      // height: auto;
      .lendsqr-logo{
        top: 50px;
        left: 40px;
        width: 135px;
        height: 35px;
      }
      .illustration{
        width: 360px;
        height: 240px;
        top: 120px;
      }
    }  
    .right-section {
      height: auto;
      padding-bottom: 30px;
      h1{
        margin-top: 50px;
        margin-left: 40px;
      }
      p{
        margin-left: 45px;
        margin-top: -10px;
      }

      .login-form {
        .password-container{
          // border: 1px solid;
          margin-top: -10px;
          .input{
            width: 75%;
            height: 45px;
            margin-top: 10px;
            margin-left: 40px;
          }
          .show-button{
            left: 275px;
            top: 70%;
          }
        }
        .forgot-password{
          width: 35%;
          margin-left: 40px;
          font-size: 10px;
        }
        .login-button {
          width: 75%;
          height: 45px;
          margin-left: 40px;
      
        }  
      }
    }  
  }
}


@media (max-width: $mobile) {
  body{
    width: 100%;
    height: auto;
    margin: 0;
  }
  .login-container{
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 0;
    margin: 0;
    .left-section {
     margin: 0;
    }
 
  .right-section {
    margin-top: 380px; 
    // border: 1px solid;
    width: 100%;

  }

  
 
  
}
}
