$tablet: 1030px;
$mobile: 440px;

body{
  font-family: "Work Sans", serif;
  overflow-x: hidden;

}

.userdetails {
    width: 802px;
    height: auto;
    background-color: #fff;
    margin: 30px 46px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-x: hidden;
  .group-119{
    height: 163px;
    border: 1px solid;
    margin: 0;
    display: block;
    border: none;
    border-bottom: 1px solid #21407d52;
    font-family: "Work Sans", serif;
  }
  .group-120{
    height: 105px;
    border: 1px solid;
    margin: 0;
    display: block;
    border: none;
    border-bottom: 1px solid #21407d52;
  }
  .personal-info{
    font-size: 16px;
    font-weight: 500;
    line-height: 18.77px;
    text-align: left;
    color: #213F7D;
    
  }
  .sub-group-1,
  .sub-group-2,
  .sub-group-3,
  .sub-group-4,
  .sub-group-5{
    height: 41px;
    width: 90%;
    // border: 1px solid;
    display: flex;
    justify-content: space-between;
  }
  .sub-group-2{
    // border: 1px solid;
    height: 41px;
    width: 56%;
    margin-top: 20px;
  }
  .sub-group-3{
    //   border: 1px solid;
      height: 41px;
      width: 60.5%;
      margin-top: 20px;
  }
  .sub-group-5{
    height: 41px;
    width: 52%;
    margin-top: 20px;
  }
  .sub-group-4{
    //  border: 1px solid;
     height: 41px;
     width: 70.5%;
     margin-top: 20px;
  }
  .detail-1{
    width: 102px;
    height: 41px;
    // border: 1px solid;
    display: block;
    
  }
  .detail-2{
    width: 106px;
    height: 41px;
    // border: 1px solid;
    display: block;
  }
  .detail-3{
    width: 138px;
    height: 41px;
    // border: 1px solid;
    display: block;
  }
  .detail-4{
    width: 106px;
    height: 41px;
    // border: 1px solid;
    display: block;
  }
  .detail-5{
    width: 57px;
    height: 41px;
    display: block;
  }
  .detail-6{
    width: 130px;
    height: 41px;
    display: block;
  }
  .detail-7{
    width: 129px;
    height: 41px;
    display: block;
  }
  .detail-8{
    width: 153px;
    height: 41px;
    display: block;
    margin-left: 40px;
  }
  .detail-9{
    width: 167px;
    height: 41px;
    display: block;
  }
  .detail-10{
    width: 154px;
    height: 41px;
    display: block;
  }
  .detail-11{
    width: 214px;
    height: 41px;
    display: block; 
    margin-left: 16px;
  }
  .detail-12{
    width: 119px;
    height: 41px;
    display: block;
  }
  .detail-13{
    width: 118px;
    height: 41px;
    display: block;
  }
  .detail-14{
    width: 103px;
    height: 41px;
    display: block;
  }
  .detail-15{
    width: 118px;
    height: 41px;
    display: block;
  }
  .full-name{
    font-size: 11px;
    font-weight: 400;
    line-height: 14.08px;
    text-align: left;
    color: #545F7D;
    text-decoration: none;
    text-transform: uppercase;
  }
  .grace{
    font-size: 15px;
    font-weight: 500;
    line-height: 18.77px;
    text-align: left;
    color: #545F7D;
    display: block;
    margin-top: 3px;
    text-decoration: none;

  }
  .flex-b{
    display: flex;
    gap: 35px;
  }
   
}
@media (max-width: $tablet) {
  .userdetails {
    width: 95%;
    height: auto;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    .group-119,
    .group-120{
      width: 90%;
      height: auto;
      // border: 1px solid;
       padding-bottom: 30px;
       margin: 0;
      display: block; 
    }
    .flex-c{
      // border: 1px solid;
      width: auto;
      width: 90%;
      display: flex;
      
    }
   
  }
}
  
@media (max-width: $mobile) {

  .userdetails {
    width: 78%;
    height: auto;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 20px;
    margin-top: 20px;
    justify-content: center;
    justify-self: center;
    justify-items: center;
  .group-119{
    height: auto;
    // border: 1px solid;
     padding-bottom: 10px;
     margin: 0;
    display: block; 
  }
  .group-120{
    height: auto;
    // border: 1px solid;
    margin-left: 20px;
    display: block;
    padding-bottom: 10px;
   
  }
  .personal-info{
    font-size: 16px;
    
  }
  .flex-a{
    // border: 1px solid;
    width: auto;
    width: 100%;
    display: flex;
    gap: 13px;
    
  }
  .flex-b{
    display: none;
    
  }
  .flex-c{
    // border: 1px solid;
    width: auto;
    width: 100%;
    display: flex;
    
  }
  .pro{
    display: none;
  }
  .sub-group-1,
  .sub-group-2,
  .sub-group-3,
  .sub-group-4,
  .sub-group-5{
    height: auto;
    width: auto;
    // border: 1px solid;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
  }
  .detail-11,
  .detail-8{
    margin-left: 0px;
  }

}
}