
$desktop: 1024px;
$tablet: 770px;
$mobile: 450px;


.ellipsis-icon{
    cursor: pointer;
    margin-left: 10px;
}
.current-page{
  display: flex;
  margin-top: 7px;
}
.dropdown-container {
  position: relative;
}
.dropdown-r{
  position: absolute;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 20;
  max-width: calc(100vw - 62px); 
  max-height: calc(100vh - 16px); 
  overflow: auto;
  transition: all 0.2s ease-in-out;
  padding-bottom: 15px;
}

.dropdown-r.active {
  display: block;
}
.table-container2 {
    width: 390px;
    background-color: #fff;
    border-radius: 5px;
    padding: 16px;
    padding-right: 25px;
    font-size: 8px;
    font-weight: 600;
    margin: 20;
    font-family: "Work Sans", serif;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    cursor: pointer;
    display: block;
    justify-content: left;
    justify-items: left;
    justify-self: center;
    margin-top: 80px;

    .status-badge{
      text-decoration: none;
      
    }
    .inactive-div,
    .acive-div,
    .pending-div{
      width: 52px;
      height: 18px;
      padding: 1px;
      border-radius: 10px;
      font-size: 9px;
      font-weight: 600;
      line-height: 16.42px;
      text-align: center;
      display: block;
      justify-content: center; 
      margin-left: 4px;
      margin-top: 4px;
      margin-bottom: 4px;
      text-decoration: none;
    }
    .inactive-div{
      background: #545f7d19;
      color: #545F7D;
    }
    .acive-div{
      background: #39cd6322;
      color: #39CD62;

    }
    .blacklist-div{
      width: 52px;
      height: 18px;
      padding: 1px;
      border-radius: 10px;
      font-size: 9px;
      font-weight: 600;
      line-height: 16.42px;
      display: block;
      justify-content: center;
      text-align: center; 
      margin-left: 4px;
      margin-top: 4px;
      margin-bottom: 4px;
      background: #e4033b24;
      color: #E4033B;
      text-decoration: none;

    }
    .act{
      display: block;
      padding-top: 1px;
      text-decoration: none;
    }
    .pending-div{
      background: #e9b30023;
      color: #E9B200;

    }
 
    table {
      width: 100%;
      border-collapse: collapse;
  
      thead {
        background-color: #f8f9fa;
        
        
        th {
          text-align: left;
          padding: 5px;
          padding-left: 8px;
          padding-right: 8px;
          font-size: 7px;
          font-weight: 700;
          color: #545f7d;
        }
        .dropdown-icon{
            font-size: 10px;
            display: block;
        }
      }
      
      tbody {
        tr {
       
  
          td {
            padding: 0px;
            font-size: 7px;
            font-weight: 700;
            color: #495057;
            border-bottom: 1px solid #e9ecef;
  
          }
        }
      }
    }
  
    .table-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      font-size: 8px;
      font-weight: 600;
      color: #213F7D;
      .hundred{
        text-align: center;
        font-size: 8px;
        font-weight: 600;
        line-height: 16.42px;
        color: #213F7D;
        background: #213F7D1A;
        padding: 5px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        outline: none;
        margin-left: 3px;
      }
      .userlist{
        text-decoration: none;
        font-size: 9px;
        font-weight: 600;
        line-height: 16.42px;
        color: #213F7D;
        margin-top: 7px;
      }
      
  
      .pagination {
        display: flex;
        gap: 5px;
        margin-left: 60px;
        cursor: default;
       

        .button-active{
          border: none;
          background-color: #39cdcc;
          color: #fff;
          width: 24px;
          height: 24px;
          font-size: 9px;
          font-weight: 600;
          margin-left: 0px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          transition: 0.5s; 
          cursor: pointer;
        }
        .ellipsis {
          padding: 0 4px;
          font-size: 9px;
          color: #555;
          margin-top: 3px;
        }
        
        
        button {
         
        
          &:hover {
            background-color: #f1f1f1;
            color: #000;
          }
  
          &.active {
            background-color: #6c757d;
            color: #fff;
            border: none;
            transition: 0.5s;
          }
          &.active:hover{
            background-color: #444b52;
          }
        }
      }
    }
  }

  @media (max-width: $tablet) {
    .table-container2 {
      width: 95%;
      margin: 0;
      padding: 20px;
      justify-content: center;
      justify-self: center;
      font-size: 16px;
      font-weight: 500;


      .inactive-div,
      .acive-div,
      .pending-div,
      .blacklist-div{
        width: 65px;
        height: 18px;
        padding: 4px;
        margin-left: 0px;
        font-size: 12px;
        font-weight: 500;
      }
    
      .act{
        display: block;
        padding-top: 1px;
        text-decoration: none;
      }
     
   
      table {
        width: 100%;
        margin: 0;
        border-collapse: collapse;
    
        thead { 
          th {
            text-align: left;
            padding: 5px;
            padding-left: 8px;
            padding-right: 8px;
            font-size: 12px;
            font-weight: 500;
          }
          .dropdown-icon{
              font-size: 12px;
              display: flex;
              gap: 3px;
          }
        }
        
        tbody {
          tr {
         
    
            td {
              padding: 5px;
              font-size: 12px;
              font-weight: 500;
            }
          }
        }
      }
    
      .table-footer {
        display: flex;
        justify-content: left;
        justify-self: left;
        font-size: 12px;
        font-weight: 500;
        .hundred{
          text-align: center;
          font-size: 12px;
          font-weight: 500;
          margin-left: 3px;
        }
        .userlist{
          font-size: 12px;
          font-weight: 500;
          margin-top: 9px;
        }
        
    
        .pagination {
          display: flex;
          gap: 5px;
          margin-left: 60px;
             
  
          .button-active{
          
            width: 30px;
            height: 30px;
            font-size: 12px;
            font-weight: 500;
            margin-left: 3px;
          }
          .ellipsis {
            padding: 0 4px;
            font-size: 9px;
            color: #555;
            margin-top: 3px;
          }
          
        }
      }
    }
    
  }
  @media (max-width: $mobile) {
    .table-container2 {
      width: 100%;
      padding: 15px;
      margin: 0;
      gap: 0px;
      font-size: 8px;
      font-weight: 600;
      margin-top: 80px;
  
      
      .inactive-div,
      .acive-div,
      .pending-div{
        width: 52px;
        height: 18px;
        padding: 1px;
        font-size: 9px;
        font-weight: 600;
        
        margin-left: 4px;
        margin-top: 4px;
        margin-bottom: 4px;
        
      }
     
      .blacklist-div{
        width: 52px;
        height: 18px;
        padding: 1px;
       
        font-size: 9px;
        font-weight: 600;
        
        display: block;
        justify-content: center;
        text-align: center; 
        margin-left: 4px;
        margin-top: 4px;
        margin-bottom: 4px;

  
      }
      .act{
        display: block;
        padding-top: 1px;
        text-decoration: none;
      }
     
   
      table {
        width: 100%;
        border-collapse: collapse;
    
        thead {
         
          
          
          th {
            text-align: left;
            padding: 5px;
            padding-left: 8px;
            padding-right: 8px;
            font-size: 7px;
            font-weight: 700;
            color: #545f7d;
          }
          .dropdown-icon{
              font-size: 10px;
              display: block;
          }
        }
        
        tbody {
          tr {
         
    
            td {
              padding: 0px;
              font-size: 7px;
              font-weight: 700;
             
    
            }
          }
        }
      }
    
      .table-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        font-size: 8px;
        font-weight: 600;
        color: #213F7D;
        .hundred{
          text-align: center;
          font-size: 8px;
          font-weight: 600;
         
          padding: 5px;
         
          margin-left: 3px;
        }
        .userlist{
          
          font-size: 9px;
          font-weight: 600;
          
          margin-top: 7px;
        }
        
    
        .pagination {
          display: flex;
          gap: 5px;
          margin-left: 60px;
          cursor: default;
         
  
          .button-active{
           
            width: 24px;
            height: 24px;
            font-size: 9px;
            font-weight: 600;
           
          }
          .ellipsis {
            padding: 0 4px;
            font-size: 9px;
           
            margin-top: 3px;
          }
          
          
         
        }
      }
    }
    
  }